body {
    font: 13px Geneva;
}

.op {
    background: rgb(218, 218, 218);
}

.answer {

}

.post {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    display: block;
    overflow: auto;
    
    .title {
        padding: 10px;
    }
    
    
    .author {
        color: green;
        margin-right: 10px;
    }
    
    .time {
    
    }
    
    .message {
        padding:10px;
        padding-left: 0;
    }
    
    .time, .author {
        display: inline-block;
    }
    
    img {
        float: left;
        max-width: 250px;
        padding-right: 10px;
        
        &.full {
            max-width: 100%;
        }
    }
}

//.thread .author {
//    color: green;
//}

.threadBox {
    margin: 0 40px;

} 