body {
    font: 13px Geneva;
}

.thread {
    
    margin-bottom: 10px;
    border: 1px solid #ccc;
    display: block;
    overflow: auto;
    
    
    .author {
        color: green;
    }
    
    img {
        float: left;
    }
}

//.thread .author {
//    color: green;
//}

#react {
    margin: 0 20px;

} 