<alert ng-repeat="a in alerts"
       on-close="closeAlert($index)" a="a" type="a.type"
       class="alertBox" ng-class="a.type">

    <i class="glyphicon glyphicon-remove"
        ng-show="alert.type != 'loading' && alert.type != 'confirm'"
        ng-click="closeAlert()"></i>

    <h4 ng-bind="a.title"></h4>
    <p ng-bind="a.message"></p>

    <p ng-show="a.type == 'confirm'">
        <button class="btn btn-sm btn-success" ng-click="a.method(a)">Confirm</button>
        <button class="btn btn-sm" ng-click="closeAlert()">Close</button>
    </p>
</alert>